<h1>Recipes</h1>
<table id="recipes_index">
  <tr>
    <th>Name</th>
    <th>Difficulty</th>
    <th>Author</th>
    <th>Image</th>
    <th colspan="2"></th>
  </tr>
  <% @recipes.each do |f| %>
    <tr>
      <td><%= link_to f.name, recipe_path(f.id) %></td>
      <td><%= convert_difficulty(f.difficulty) %></td>
      <td><%= f.author %></td>
      <td><%= image_tag f.photo %></td>
      <td><%= link_to "Delete", recipe_path(f.id), method: :delete %></td>
    </tr>
  <% end %>
</table>
