<h1>TV Shows</h1>
<%= link_to "Go to Recipes", recipes_path %><br><br>
<table id="tvshows_index" class="index">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Type</th>
    <th>Creator</th>
    <th>Number of Seasons</th>
    <th>Start Date</th>
    <th>Photo</th>
    <th></th>
  </tr>
  <% @tvshows.each do |f| %>
    <%= content_tag :tr, id: "tvshow-#{f.id}" do %>
      <td><%= f.id %></td>
      <td><%= link_to f.name, tvshow_path(f.id) %></td>
      <td><%= f.showtype %></td>
      <td><%= f.creator %></td>
      <td><%= f.seasons %></td>
      <td><%= f.startdate %></td>
      <td><%= image_tag f.photo %></td>
      <td><%= link_to "Delete", tvshow_path(f.id), method: :delete %></td>
    <% end %>
  <% end %>
</table>
